<%- include('partials/header'); -%>

<div class="chat-wrapper">
  <div class="chat-info">
    <h3>in chat</h3>
    <div class="users"></div>
  </div>
  <div class="chat">
    <div class="chat-messages">
      <div class="message">
        <div class="message-info">
          <span><b>hui</b> 23.23.44</span>
        </div>
        <div class="message-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum sunt
          vitae ullam exercitationem tenetur fugit?
        </div>
      </div>
    </div>
    <div class="chat-form">
      <div class="send-message">
        <form>
          <input type="text" name="message" required />
          <button class="chat-btn">send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
<%- include('partials/footer'); -%>
