<%- include('partials/header'); -%>

<div class="chat-wrapper">
  <div class="chat-info">
    <h3><u>IN CHAT</u></h3>
    <div class="users"></div>
  </div>
  <div class="chat">
    <div class="chat-messages"></div>
    <div class="chat-form">
      <div class="send-message">
        <form>
          <input type="text" name="message" required />
          <button class="chat-btn">send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
<%- include('partials/footer'); -%>
