<%- include('partials/header'); -%>
<main>
  <h1>Hello and Welcome</h1>
  <h3>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium
    expedita eligendi veniam est delectus iure quibusdam quasi hic nobis
    perspiciatis. Iure quae voluptatibus exercitationem quasi facere, aliquam
    voluptatem consectetur eaque obcaecati qui? Nam, voluptas quas!
  </h3>
  <a href="/">
    <section>
      <div class="project"><h3>about this app</h3></div>
      <div class="project-info">
        <h3>Goals:</h3>
        <ul>
          <li>Show basic understanding od client-server architecture</li>
          <li>
            Show stack of technologies: <strong>Node</strong>
            <strong>Express</strong> <strong>Mongo</strong> <strong>Jwt</strong>
          </li>
          <li>Authentication flow</li>
        </ul>
      </div>
    </section>
  </a>
  <a href="/chat">
    <section>
      <div class="project"><h3>Chat App</h3></div>
      <div class="project-info">
        <h3>Goals:</h3>
        <ul>
          <li>Show basic understanding Web-Socket</li>
          <li>Protected Routes</li>
          <li>Responsive design</li>
        </ul>
      </div>
    </section>
  </a>
  <a href="/quotes">
    <section>
      <div class="project"><h3>Qoutes App</h3></div>
      <div class="project-info">
        <h3>Goals:</h3>
        <ul>
          <li>Implement qoutes app</li>
          <li>Implement personal qoutes page</li>
          <li>Implement random quote page</li>
        </ul>
      </div>
    </section>
  </a>
  <a href="/next">
    <section>
      <div class="project"><h3>more to come</h3></div>
      <div class="project-info">
        <h3>Goals:</h3>
        <ul>
          <li>good one</li>
          <li>better one</li>
          <li>even better one</li>
        </ul>
      </div>
    </section>
  </a>
</main>
<%- include('partials/footer'); -%>
