<%- include('partials/header'); -%>
<form>
  <h2>Log in</h2>
  <label for="email">enter your email</label>
  <input type="email" name="email" />
  <span class="email error"></span>
  <label for="password">enter your password</label>
  <input type="text" name="password" />
  <span class="password error"></span>
  <button class="btn">log in</button>
</form>
<script src="loginForm.js"></script>
<%- include('partials/footer'); -%>
