:root {
  --color-primary: rgb(169, 208, 235);
  --red-color: rgb(126, 50, 50);
  --black-color: #444;
  --dull-color: rgb(156, 158, 147);
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: var(--black-color);
}
body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  display: block;
  padding: 10px 15px;
}
nav li span {
  text-transform: lowercase;
  font-weight: 50;
  letter-spacing: 0.5px;
  display: block;
  padding: 10px 15px;
  color: var(--red-color);
}
h1,
h2,
h3,
h5 {
  text-align: center;
  margin-bottom: 10px;
}
section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2vw;
  padding: 10px;
}
section li {
  font-weight: 400;
  letter-spacing: 1px;
}
section .project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  border: 1px solid;
}
section .project-info {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;
}
.project h3 {
  transform: rotateZ(-20deg);
  text-transform: uppercase;
}
form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(235, 223, 223);
  border-radius: 20px;
  padding: 20px;
}
form label {
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}
form input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
}
form span {
  color: var(--red-color);
  font-style: italic;
  margin-bottom: 5px;
}
.btn {
  width: 100%;
  padding: 5px;
  background-color: var(--red-color);
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

/* to do with quotes section */
.quotes-wrapper {
  max-width: 70%;
  margin: 20px auto;
}
.quotes-content {
  padding: 10px 30px;
}
.quote {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--color-primary);
}
.quote-text {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}
.quote-author {
  display: flex;
  margin: 5px;
  justify-content: flex-end;
}
.quote-btn {
  width: 100%;
  border: 1px solid;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
}
.quote-btn:hover {
  background-color: var(--black-color);
  color: white;
}

.add-quote {
  opacity: 0;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
}
.hide {
  opacity: 1;
  z-index: 11;
}

/* chat app */

.chat-wrapper {
  max-width: 70%;
  margin: 20px auto;
  border: 1px solid;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.chat {
  display: grid;
  grid-template-rows: 10fr 60px;
}
.chat-messages {
  height: 500px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.chat-form {
  border: 1px solid orange;
}
.send-message form {
  max-width: 100%;
  margin: 0;
  display: flex;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid steelblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--color-primary);
}
.message-info,
.message-text {
  padding: 10px;
}
.message-info span {
  color: var(--red-color);
}
.chat-btn {
  padding: 5px;
  height: 30px;
  width: 160px;
}
