<%- include('../partials/header'); -%>
<div class="quotes-wrapper">
  <div class="quotes-content">
    <% quotes.forEach(function(quote){ %> <%-
    include('../partials/quote',{quote:quote}); %> <% }); %>
  </div>
</div>
<div class="add-qoute">
  <form>
    <h2>Add your qoute</h2>
    <label for="author">author</label>
    <input type="text" name="author" />

    <label for="text">qoute text</label>
    <input type="text" name="text" />

    <button class="btn">Add quote</button>
  </form>
</div>
<script src="js/myQuotes.js"></script>
<%- include('../partials/footer'); -%>
