<%- include('../partials/header'); -%>
    <div class="quotes-wrapper">
      <div class="quotes-content">
        <% quotes.forEach(function(quote){ %> <%-
          include('../partials/quote',{quote:quote}); %> <% }); %>
        
        
      </div>
      <%- include('../partials/pagination'); -%>
    </div>
   
    
    <script src="js/quotes.js"></script>
  </bodyh>
</htmlh>
